
@{
    ViewBag.Title = "Invalid";
}
<head>
    <style>
        a:hover {
            background-color: transparent;
            color: white;
            border-color: white;
            font-weight: bolder;
        }

        .btn:hover {
            color: white;
        }

        a {
            color: white;
            background-color: purple;
        }

        input:hover {
            background-color: transparent;
            color: white;
            border-color: white;
            font-weight: bolder;
        }

        input {
            color: white;
            background-color: purple;
        }

        body {
            background-image: url('/Content/Images/signup.jpg');
            position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .text {
            color: white;
        }

        .h1, h2, h3 {
            color: white;
        }
    </style>
</head>
<body>
    <h2>Invalid Login Attempt</h2>

    
</body>
